# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environments
.venv/
env/
*.env

# Jupyter
.ipynb_checkpoints/

# Данные
data/*
!data/heart_cleveland_upload.csv  # разрешаем нужный файл
!data/.gitkeep                     # если хочешь, чтобы папка точно была

# Модель и артефакты
models/*
!models/model.joblib
!models/scaler.joblib
!models/features.joblib
!models/metadata.json
!models/.gitkeep

# Сгенерированные файлы
report.html
predictions.csv

# IDE
.idea/

# OS
.DS_Store

# key
key.json
